/* General Styles */
body {
    font-family: "Lora", serif;
    background-color: #F8F9FA;
    color: #ffff;
    padding: 20px;
}

/* Header */
header {
    background-color: #003366;
    color: #FFF;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
}

/* Sections */
section {
    margin-bottom: 20px;
    padding: 15px;
    border-bottom: 2px solid #CCC;
    background: #003366;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Headings */
h1, h2 {
    font-family: "Poppins", sans-serif;
    color: #FFF;
}

/* Links */
a {
    color: #FFA000;
    text-decoration: none;
    font-weight: bold;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
    border: 2px solid #FFA000;
    border-radius: 5px;
}

/* Navbar */
.navbar {
    background-color: #4CAF50;
    color: #FFFFFF;
}

/* Footer */
footer {
    background-color: #4CAF50;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}
